$footer-bg: $brown;
$footer-text-color: $light-brown;

footer {
  background: $footer-bg;
  color: $footer-text-color;
  padding: 2rem 0;
}

footer i {
  font-size: 1.5rem;
  padding: 0 1rem;
}

footer i::before {
  position: relative;
  top: 0.2rem;
}
