$hero-full-screen-bg: url('../img/background.jpg') center center /cover no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-helping-color: $light-brown;
$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 100vh;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .grid-y {
    height: 100vh;
  }

  #main-header {
    width: 90%;
    text-align: center;
    color: $hero-full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-helping-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $hero-full-screen-helping-color;
      font-weight: bold;
    }
  }
}
